server:
  port: ${IEXEC_SMS_PORT:13300}

# Embedded H2 inside JVM
spring:
  profiles:
    active: ${IEXEC_SMS_TEE_RUNTIME_FRAMEWORK:} # gramine/scone
  datasource:
    url: ${IEXEC_SMS_H2_URL:jdbc:h2:file:/data/sms-h2} # will get or create /data/sms-h2.mv.db
    driver-class-name: org.h2.Driver
    username: sa
    password:
  jpa:
    hibernate:
      ddl-auto: update
      database-platform: org.hibernate.dialect.H2Dialect
    properties:
      hibernate:
        # Protect column names with quotes to avoid interpreting them as SQL keywords
        globally_quoted_identifiers: true
  h2:
    console:
      enabled: ${IEXEC_SMS_H2_CONSOLE:false} # http://localhost:13300/h2-console/
      settings:
        web-allow-others: ${IEXEC_SMS_H2_CONSOLE:false} # Get console if Docker run

admin:
  api-key: ${IEXEC_SMS_ADMIN_API_KEY:}
  storage-location: ${IEXEC_SMS_ADMIN_STORAGE_LOCATION:/backup}

encryption:
  # Will get previous key or else create one on this path
  # this file shouldn't be clearly readable outside the enclave (but encrypted content could be copied outside)
  aes-key-path: ${IEXEC_SMS_STORAGE_ENCRYPTION_AES_KEY_PATH:/data/iexec-sms-aes.key}

chain:
  id: ${IEXEC_CHAIN_ID:134}
  sidechain: ${IEXEC_IS_SIDECHAIN:true}
  node-address: ${IEXEC_BLOCKCHAIN_NODE_ADDRESS:https://bellecour.iex.ec}
  hub-address: ${IEXEC_HUB_ADDRESS:0x3eca1B216A7DF1C7689aEb259fFB83ADFB894E7f}
  block-time: ${IEXEC_BLOCK_TIME:PT5S}
  gas-price-multiplier: ${IEXEC_GAS_PRICE_MULTIPLIER:1.0} # txs will be sent with networkGasPrice*gasPriceMultiplier, 4.0 means superfast
  gas-price-cap: ${IEXEC_GAS_PRICE_CAP:22000000000} #in Wei, will be used for txs if networkGasPrice*gasPriceMultiplier > gasPriceCap

ipfs-gateway: https://ipfs.iex.ec

metrics:
  storage:
    refresh-interval: ${IEXEC_SMS_METRICS_STORAGE_REFRESH_INTERVAL:30}  # In seconds

springdoc:
  packages-to-scan: com.iexec.sms
  paths-to-match: /**

tee:
  challenge:
    cleanup:
      cron: ${IEXEC_TEE_CHALLENGE_CLEANUP_CRON:@hourly}
      missing-deadline-max-batch-size: ${IEXEC_TEE_CHALLENGE_CLEANUP_MAX_BATCH_SIZE:500}
      missing-deadline-retention-duration: ${IEXEC_TEE_CHALLENGE_CLEANUP_RETENTION_DURATION:P5D}
