tee:
  secret-provisioner:
    web:
      hostname: ${IEXEC_SECRET_PROVISIONER_WEB_HOSTNAME:localhost}
      port: ${IEXEC_SECRET_PROVISIONER_WEB_PORT:8081}
    enclave:
      hostname: ${IEXEC_SECRET_PROVISIONER_ENCLAVE_HOSTNAME:localhost}
      port: ${IEXEC_SECRET_PROVISIONER_ENCLAVE_PORT:18765}

  worker:
    pipelines:
      - version: # v5
        pre-compute:
          image: # e.g.: iexechub/tee-worker-pre-compute-rust:<version>-sconify-<scone-version>-production
          fingerprint:
          heap-size: # 1GB
          entrypoint: # /app/tee-worker-pre-compute
        post-compute:
          image: # e.g.: iexechub/tee-worker-post-compute-rust:<version>-sconify-<scone-version>-production
          fingerprint:
          heap-size: # 1GB
          entrypoint: # /app-tee-worker-post-compute

  ssl:
    key-store: ${IEXEC_SMS_SSL_KEYSTORE:/app/ssl-keystore-dev.p12} #iexec-core dev certificate for dev
    key-store-password: ${IEXEC_SMS_SSL_KEYSTORE_PASSWORD:whatever}
    key-store-type: ${IEXEC_SMS_SSL_KEYSTORE_TYPE:PKCS12}
    key-alias: ${IEXEC_SMS_SSL_KEYSTORE_ALIAS:iexec-core}
    client-auth: need

  scone:
    las-image: ${IEXEC_SMS_IMAGE_LAS_IMAGE:} # e.g.: registry.scontain.com:5050/scone-production/iexec-las:x.y.z
    attestation:
      tolerated-insecure-options: ${IEXEC_SCONE_TOLERATED_INSECURE_OPTIONS:} # e.g.: hyperthreading,software-hardening-needed,insecure-igpu,outdated-tcb,debug-mode
      ignored-sgx-advisories: ${IEXEC_IGNORED_SGX_ADVISORIES:} # e.g.: INTEL-SA-00220,INTEL-SA-00270
      mode: maa
      url: https://sharedweu.weu.attest.azure.net
      urls: [ https://sharedweu.weu.attest.azure.net ]
