#* 
    It is safer to keep all values single-quoted to escape yaml
    special characters (in dataset names for example). We also
    ran into some parsing issues on the CAS's side when integers
    were not quoted ("invalid type: integer `0`, expected a string").

    Null values should be replaced by an empty string in the code
    otherwise we end up with 'null' instead of ''.
*#

name: '$SESSION_ID'
digest: 'create'

services:

  #*
    Pre-compute enclave.
    Only when dataset is requested.
  *#
#if ($IS_PRE_COMPUTE_REQUIRED)
  - name: 'pre-compute'
    image_name: 'pre-compute-image'
    mrenclaves: ['$PRE_COMPUTE_MRENCLAVE']
    pwd: '/'
    command: 'java -jar /app/tee-worker-pre-compute.jar'
    fspf_path: '/fspf.pb'
    fspf_key: '$PRE_COMPUTE_FSPF_KEY'
    fspf_tag: '$PRE_COMPUTE_FSPF_TAG'
    environment:
      LD_LIBRARY_PATH: '/usr/lib/jvm/java-11-openjdk/lib/server:/usr/lib/jvm/java-11-openjdk/lib:/usr/lib/jvm/java-11-openjdk/../lib'
      JAVA_TOOL_OPTIONS: '-Xmx256m'
      IEXEC_DATASET_KEY: '$IEXEC_DATASET_KEY'
      IEXEC_PRE_COMPUTE_OUT: '/iexec_in'
      IEXEC_TASK_ID: '$env.get("IEXEC_TASK_ID")'
      IEXEC_DATASET_URL: '$env.get("IEXEC_DATASET_URL")'
      IEXEC_DATASET_FILENAME: '$env.get("IEXEC_DATASET_FILENAME")'
      IEXEC_DATASET_CHECKSUM: '$env.get("IEXEC_DATASET_CHECKSUM")'
      IEXEC_INPUT_FILES_FOLDER: '$env.get("IEXEC_INPUT_FILES_FOLDER")'
      IEXEC_INPUT_FILES_NUMBER: '$env.get("IEXEC_INPUT_FILES_NUMBER")'
    #foreach($key in $INPUT_FILE_URLS.keySet())
      $key: '$$INPUT_FILE_URLS.get($key)'
    #end
#end

  #*
    Application enclave
  *#
  - name: 'app'
    image_name: 'app-image'
    mrenclaves: ['$APP_MRENCLAVE']
    pwd: '/'
    command: '$APP_ARGS'
    fspf_path: '/fspf.pb'
    fspf_key: '$APP_FSPF_KEY'
    fspf_tag: '$APP_FSPF_TAG'
    environment:
  #foreach($key in $env.keySet())
    $key: '$env.get($key)'
  #end
      $IEXEC_TASK_ID: $env.get("IEXEC_TASK_ID")
      $IEXEC_IN: $env.get("IEXEC_IN")
      $IEXEC_OUT: $env.get("IEXEC_OUT")
      $IEXEC_DATASET_ADDRESS: $env.get("IEXEC_DATASET_ADDRESS")
      $IEXEC_DATASET_FILENAME: $env.get("IEXEC_DATASET_FILENAME")
      $IEXEC_BOT_SIZE: $env.get("IEXEC_BOT_SIZE")
      $IEXEC_BOT_FIRST_INDEX: $env.get("IEXEC_BOT_FIRST_INDEX")
      $IEXEC_BOT_TASK_INDEX: $env.get("IEXEC_BOT_TASK_INDEX")
      $IEXEC_INPUT_FILES_NUMBER: $env.get("IEXEC_INPUT_FILES_NUMBER")
      $IEXEC_INPUT_FILES_FOLDER: $env.get("IEXEC_INPUT_FILES_FOLDER")
    #foreach($key in $INPUT_FILE_NAMES.keySet())
      $key: '$$INPUT_FILE_NAMES.get($key)'
    #end

  #* 
    Post-compute enclave
  *#
  - name: 'post-compute'
    image_name: 'post-compute-image'
    mrenclaves: ['$POST_COMPUTE_MRENCLAVE']
    pwd: '/'
    command: 'java -jar /app/tee-worker-post-compute.jar'
    fspf_path: '/fspf.pb'
    fspf_key: '$POST_COMPUTE_FSPF_KEY'
    fspf_tag: '$POST_COMPUTE_FSPF_TAG'
    environment:
      LD_LIBRARY_PATH: '/usr/lib/jvm/java-11-openjdk/lib/server:/usr/lib/jvm/java-11-openjdk/lib:/usr/lib/jvm/java-11-openjdk/../lib'
      JAVA_TOOL_OPTIONS: '-Xmx256m'
      RESULT_TASK_ID: '$RESULT_TASK_ID'
      RESULT_ENCRYPTION: '$RESULT_ENCRYPTION'
      RESULT_ENCRYPTION_PUBLIC_KEY: '$RESULT_ENCRYPTION_PUBLIC_KEY'
      RESULT_STORAGE_PROVIDER: '$RESULT_STORAGE_PROVIDER'
      RESULT_STORAGE_PROXY: '$RESULT_STORAGE_PROXY'
      RESULT_STORAGE_TOKEN: '$RESULT_STORAGE_TOKEN'
      RESULT_STORAGE_CALLBACK: '$RESULT_STORAGE_CALLBACK'
      RESULT_SIGN_WORKER_ADDRESS: '$RESULT_SIGN_WORKER_ADDRESS'
      RESULT_SIGN_TEE_CHALLENGE_PRIVATE_KEY: '$RESULT_SIGN_TEE_CHALLENGE_PRIVATE_KEY'

#**
  Images used by each service
*#
images:
  #* pre-compute. Only when dataset is requested *#
#if ($IS_PRE_COMPUTE_REQUIRED)
  - name: 'pre-compute-image'
    mrenclaves: ['$PRE_COMPUTE_MRENCLAVE']
    volumes:
      - name: 'iexec_in'
        path: '/iexec_in'
#end

  #* application *#
  - name: app-image
    mrenclaves: ['$APP_MRENCLAVE']
    volumes:
      - name: 'iexec_in'
        path: '/iexec_in'
      - name: 'iexec_out'
        path: '/iexec_out'

  #* post-compute *#
  - name: 'post-compute-image'
    mrenclaves: ['$POST_COMPUTE_MRENCLAVE']
    volumes:
      - name: 'iexec_out'
        path: '/iexec_out'
      - name: 'post-compute-tmp'
        path: '/post-compute-tmp'

#**
  Volumes that will be protected
  for each service.
*#
volumes:
  - name: 'iexec_in'
  - name: 'iexec_out'
  - name: 'post-compute-tmp'
