name: $SESSION_ID
digest: create

services:
   - name: app
     image_name: image
     mrenclaves: [$APP_MRENCLAVE]
     tags: [demo]
     pwd: /
     command: $COMMAND
     fspf_path: /fspf.pb
     fspf_key: $APP_FSPF_KEY
     fspf_tag: $APP_FSPF_TAG

   - name: post-compute
     image_name: image3
     mrenclaves: [$POST_COMPUTE_MRENCLAVE]
     tags: [demo]
     pwd: /
     command: java -jar /app/tee-worker-post-compute.jar
     fspf_path: /fspf.pb
     fspf_key: $POST_COMPUTE_FSPF_KEY
     fspf_tag: $POST_COMPUTE_FSPF_TAG
     environment:
         REQUESTER_STORAGE_TOKEN: $REQUESTER_STORAGE_TOKEN
         TEE_CHALLENGE_PRIVATE_KEY: $TEE_CHALLENGE_PRIVATE_KEY
         TASK_ID: $TASK_ID
         WORKER_ADDRESS: $WORKER_ADDRESS
         IEXEC_REQUESTER_STORAGE_LOCATION: $IEXEC_REQUESTER_STORAGE_LOCATION
         IEXEC_REQUESTER_STORAGE_PROXY: $IEXEC_REQUESTER_STORAGE_PROXY
         IEXEC_REQUESTER_RESULT_ENCRYPTION: $IEXEC_REQUESTER_RESULT_ENCRYPTION
         BENEFICIARY_PUBLIC_KEY_BASE64: $BENEFICIARY_PUBLIC_KEY_BASE64
         IEXEC_REQUESTER_SHOULD_CALLBACK: $IEXEC_REQUESTER_SHOULD_CALLBACK
         LD_LIBRARY_PATH: "/usr/lib/jvm/java-11-openjdk/lib/server:/usr/lib/jvm/java-11-openjdk/lib:/usr/lib/jvm/java-11-openjdk/../lib"
         JAVA_TOOL_OPTIONS: -Xmx256m

images:
   - name: image
     mrenclaves: [$APP_MRENCLAVE]
     tags: [demo]
     volumes:
        - name: scone
          path: /scone
   - name: image3
     mrenclaves: [$POST_COMPUTE_MRENCLAVE]
     tags: [demo]
     volumes:
        - name: scone
          path: /scone

volumes:
   - name: scone
