name: $SESSION_ID
digest: create

services:
   - name: app
     image_name: image1
     mrenclaves: [$APP_MRENCLAVE]
     tags: [demo]
     pwd: /
     command: $COMMAND
     fspf_path: /fspf.pb
     fspf_key: $APP_FSPF_KEY
     fspf_tag: $APP_FSPF_TAG

   - name: encryption
     image_name: image2
     mrenclaves: [$SIGNER_MRENCLAVE]
     tags: [demo]
     pwd: /
     command: python /signer/signer.py
     fspf_path: /fspf.pb
     fspf_key: $SIGNER_FSPF_KEY
     fspf_tag: $SIGNER_FSPF_TAG
     environment:
         TEE_CHALLENGE_PRIVATE_KEY: $TEE_CHALLENGE_PRIVATE_KEY
         TASK_ID: $TASK_ID
         WORKER_ADDRESS: $WORKER_ADDRESS
         BENEFICIARY_PUBLIC_KEY_BASE64: $BENEFICIARY_PUBLIC_KEY_BASE64

images:
   - name: image1
     mrenclaves: [$APP_MRENCLAVE]
     tags: [demo]
     volumes:
        - name: iexec_in
          path: /iexec_in
        - name: scone
          path: /scone
   - name: image2
     mrenclaves: [$SIGNER_MRENCLAVE]
     tags: [demo]
     volumes:
        - name: scone
          path: /scone

volumes:
   - name: iexec_in
     fspf_tag: $DATA_FSPF_TAG
     fspf_key: $DATA_FSPF_KEY
   - name: scone
